<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>

<div class="container">
<div class="well">
<div style="margin:50px"></div>

	<div class="row">
		<div class="col-md-10 col-sm-10 col-lg-10 col-md-offset-1">
			<script type="text/ng-template" id="error-messages">
							<div ng-message='required'> This Field is required </div>
							<div ng-message='minlength'> Too short </div>
							<div ng-message='maxlength'> Too long </div>
			</script>
				<legend><h2><i class="fa fa-pencil fa-fw"></i> Edit Inventory Part
					<div class="btn-group pull-right">
						<button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
						<a href="#/infrastructure"><button class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-chevron-left"></i>Back to Inventory</button> </a>
					</div></h2>
					</legend>

					<form class="form" list_price="form" id="addPartForm" ng-submit='addPartForm.$valid && vm.update(vm.partForm)' novalidate name="addPartForm">
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addPartForm.manufacturer_id.$touched && addPartForm.manufacturer_id.$invalid, 'has-success': addPartForm.name.$touched && addPartForm.name.$valid }">
									<label for="manufacturer_id" class="control-label">Manufacturer ID</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-building-o"></i></span>
											<input type="text" readonly ng-model='vm.partForm.manufacturer_id' required class="form-control"  name="manufacturer_id" placeholder="Manufacturer ID">
										</div>
										<div ng-messages="addPartForm.manufacturer_id.$dirty && addPartForm.manufacturer_id.$error">
												<div ng-message='required'> Manufacturer ID is required </div>
												<div ng-message='minlength'>Please enter a Manufacturer ID at least 2 chars long</div>
												<div ng-message='maxlength'>Name entered cannot be longer than 32 chars</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
							<div class="form-group" ng-class="{'has-error': addPartForm.part_number.$touched && addPartForm.part_number.$invalid, 'has-success': addPartForm.name.$touched && addPartForm.name.$valid }">
								<label for="part_number" class="control-label">Part Number</label>
								<div class="inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon"><i class="fa fa-server"></i></span>
										<input type="text" ng-model='vm.partForm.part_number' required class="form-control"  name="part_number" placeholder="CISCO2951/K9, GLC-T, NBE-5AC-19-GEN2, ACM7004-2-LMA, MC220L">
									</div>
									<div ng-messages="addPartForm.part_number.$dirty && addPartForm.part_number.$error">
											<div ng-message='required'> part_number is required </div>
											<div ng-message='minlength'>Please enter a part_number at least 4 chars long</div>
											<div ng-message='maxlength'>Name entered cannot be longer than 32 chars</div>
									</div>
								</div>
							</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addPartForm.list_price.$touched && addPartForm.list_price.$invalid, 'has-success': addPartForm.name.$touched && addPartForm.name.$valid }">
									<label for="list_price" class="control-label">List Price</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-server"></i></span>
											<input type="text" ng-model='vm.partForm.list_price' required class="form-control"  name="list_price" placeholder="$1,000,000">
										</div>
										<div ng-messages="addPartForm.list_price.$dirty && addPartForm.list_price.$error">
												<div ng-message='required'> List Price is required </div>
												<div ng-message='minlength'>Please enter a List Price at least 8 chars long</div>
												<div ng-message='maxlength'>Name entered cannot be longer than 8 chars</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addPartForm.weight.$touched && addPartForm.weight.$invalid, 'has-success': addPartForm.name.$touched && addPartForm.name.$valid }">
									<label for="weight" class="control-label">Weight</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-server"></i></span>
											<input type="text" ng-model='vm.partForm.weight' required class="form-control"  name="weight" placeholder="5">
										</div>
										<div ng-messages="addPartForm.weight.$dirty && addPartForm.weight.$error">
												<div ng-message='required'> Weight is required </div>
												<div ng-message='minlength'>Please enter a Weight at least 1 chars long</div>
												<div ng-message='maxlength'>Name entered cannot be longer than 8 chars</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addPartForm.comment.$touched && addPartForm.comment.$invalid, 'has-success': addPartForm.comment.$touched && addPartForm.comment.$valid }">
									<label for="comment" class="control-label">Description</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
											<textarea ng-model='vm.partForm.comment' class="form-control" name="comment" placeholder="Comment"></textarea>
										</div>
										<div ng-messages="addPartForm.comment.$dirty && addPartForm.comment.$error">
												<div ng-messages-include="error-messages"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<hr>



						<!-- Print Form JSON-->
						<!--
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
								{{vm.partForm}}

							</div>
						</div>

						-->

						<hr />
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group">
									<button  type="submit" ng-disabled="addPartForm.$invalid" class="btn btn-primary">Submit</button>
									<!--<button type="reset" class="btn btn-primary">Reset</button>-->
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="margin:25px"></div>
	</div>
</div>
</div>
