<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>

<!-- <div style="margin:10px"></div> -->

<div style="margin-left:5%; margin-right:5%;">

    <div class="well form-horizontal" style="margin-top:5px;">
        <div style="margin:1px"></div>
        <legend>Parts : {{ vm.model.parts.length }}
            <button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()">
                <i class="glyphicon glyphicon-refresh"></i> Refresh
            </button>
            <div class="input-group col-md-3 pull-right">
                <input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 800 }"
                    placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-disabled" ng-click="vm.search = undefined">
                        <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <br>
            <div style="margin:5px"></div>
        </legend>

        <!-- Loading -->
        <div ng-if="vm.loading.parts && !vm.message" class="well">
            <div class="row">
                <div class="container loader"></div>
            </div>
            <div style="margin:25px"></div>
        </div>

        <div ng-if="vm.message;" class="well">
            <div class="row">
                <h4>{{vm.message}}</h4>
            </div>
            <div style="margin:65px"></div>
        </div>

        <div ng-if="!vm.loading.parts" class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
            <!-- <div class="table-responsive"> -->
            <table class="table table-striped table-condensed table-bordered table-hover">
                <thead>
                    <tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf);">
                        <th>
                            <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
                                ID
                                <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'manufacturer.name'; sortReverse = !sortReverse" style="color:black">
                                Manufacturer
                                <span ng-show="sortType == 'manufacturer.name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'manufacturer.name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'part_number'; sortReverse = !sortReverse" style="color:black">
                                Part_Number
                                <span ng-show="sortType == 'part_number' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'part_number' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'list_price/1'; sortReverse = !sortReverse" style="color:black">
                                List_Price
                                <span ng-show="sortType == 'list_price/1' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'list_price/1' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'weight'; sortReverse = !sortReverse" style="color:black">
                                Weight
                                <span ng-show="sortType == 'weight' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'weight' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
                                Created At
                                <span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
                                Updated At
                                <span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <button ng-if="!vm.showaddrow" class="btn btn-primary btn-sm" ng-click="vm.addtoggle()">
                                <i class="glyphicon glyphicon-plus"></i> Add
                            </button>
                            <button ng-if="vm.showaddrow" class="btn btn-primary btn-sm" ng-click="vm.addtoggle()">
                                <i class="glyphicon glyphicon-minus"></i> Add
                            </button>
                        </th>
                    </tr>
                </thead>
                <div>
                    <tbody>
                        <tr class="bg-danger" style="height:30px" ng-if="vm.showaddrow">
                            <td>
                            </td>
                            <td>
                                <!--                                 <input type="text" class="form-control form-control-sm" ng-model="vm.newpart.manufacturer_id"> -->
                                <select class="form-control" required ng-model='vm.newpart.manufacturer_id' ng-options="manufacturer.id as manufacturer.name for manufacturer in vm.model.manufacturers"
                                    data-width="100%" name="manufacturer_id">
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" ng-model="vm.newpart.part_number">
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" ng-model="vm.newpart.list_price">
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" ng-model="vm.newpart.weight">
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <button class="btn btn-xs btn-primary" ng-click="vm.submitPart(vm.newpart);"> Add
                                </button>
                                <button class="btn btn-xs btn-default" ng-click="vm.clearAdd()"> Clear </button>
                            </td>
                        </tr>
                        <tr style="height:30px" !important; ng-repeat="part in vm.model.parts | orderBy:sortType:sortReverse | filter:vm.search: strict">
                            <td>
                                {{ part.id }}
                            </td>
                            <td>
                                <div ng-show="!vm.edit[part.id]">
                                    <a href="#/part/{{ part.id}}" target="_blank">
                                        <b>{{ part.manufacturer.name }}</b>
                                    </a>
                                </div>
                                <div ng-show="vm.edit[part.id]">
                                    <select class="form-control form-control-sm" required ng-model='part.manufacturer_id'
                                        ng-options='manufacturer.id as manufacturer.name for manufacturer in vm.model.manufacturers'
                                        data-width="100%" name="partid">
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div ng-show="!vm.edit[part.id]">
                                    {{ part.part_number }}
                                </div>
                                <div ng-show="vm.edit[part.id]">
                                    <input type="text" class="form-control form-control-sm" ng-model="part.part_number">
                                </div>
                            </td>
                            <td>
                                <div ng-show="!vm.edit[part.id]">
                                    {{ part.list_price }}
                                </div>
                                <div ng-show="vm.edit[part.id]">
                                    <input type="text" class="form-control form-control-sm" ng-model="part.list_price">
                                </div>
                            </td>
                            <td>
                                <div ng-show="!vm.edit[part.id]">
                                    {{ part.weight }}
                                </div>
                                <div ng-show="vm.edit[part.id]">
                                    <input type="text" class="form-control form-control-sm" ng-model="part.weight">
                                </div>
                            </td>
                            <td>
                                {{ part.created_at }}
                            </td>
                            <td>
                                {{ part.updated_at }}
                            </td>
                            <td>
                                <div ng-show="!vm.edit[part.id]">
                                    <button class="btn btn-primary btn-xs " ng-click="vm.edit[part.id] = !vm.edit[part.id]">
                                        <i class="glyphicon glyphicon glyphicon-pencil"></i> Edit
                                    </button>
                                    <button class="btn btn-danger btn-xs " data-toggle="modal" data-target="#{{part.id}}-modal">
                                        Delete
                                    </button>
                                    <!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
                                    <div class="modal fade" id="{{part.id}}-modal" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Are you sure?
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        You are about to delete Part ID: {{ part.id }}
                                                    </p>
                                                    <table class="table table-striped table-condensed table-bordered table-hover">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Manufacturer</th>
                                                            <th>Part_Number</th>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ part.id }}</td>
                                                            <td>{{ part.manufacturer.name }}</td>
                                                            <td>{{ part.part_number }}</td>
                                                        </tr>
                                                    </table>
                                                    <p>All provisioned information will be lost. Are you sure you want
                                                        to
                                                        proceed?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
                                                    <a class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete(part)">Delete</a>
                                                    <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="vm.edit[part.id]">
                                    <button class="btn btn-xs btn-primary" ng-click="vm.update(part); vm.edit[part.id] = !vm.edit[part.id]">
                                        Save
                                    </button>
                                    <button class="btn btn-xs btn-warning" ng-click="vm.edit[part.id] = !vm.edit[part.id]">
                                        Undo
                                    </button>
                                </div>

                                <!-- End of Modal -->
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</div>