<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>

<div class="container">
	<div class="well">
		<div style="margin:50px"></div>

		<div class="row">
			<div class="col-md-10 col-sm-10 col-lg-10 col-md-offset-1">
				<script type="text/ng-template" id="error-messages">
					<div ng-message='required'> This Field is required </div>
					<div ng-message='minlength'> Too short </div>
					<div ng-message='maxlength'> Too long </div>
				</script>
				<legend>
					<h2>
						<i class="fa fa-pencil fa-fw"></i> Create New Partner</h2>
				</legend>

				<form class="form" role="form" id="addPartnerForm" ng-submit='addPartnerForm.$valid && vm.submitPartner(vm.partnerForm)'
				    novalidate name="addPartnerForm">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
							<div class="form-group" ng-class="{'has-error': addPartnerForm.name.$touched && addPartnerForm.name.$invalid, 'has-success': addPartnerForm.name.$touched && addPartnerForm.name.$valid }">
								<label for="name" class="control-label">Name</label>
								<div class="inputGroupContainer">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-building-o"></i>
										</span>
										<input type="text" ng-model='vm.partnerForm.name' required class="form-control" name="name" placeholder="Name">
									</div>
									<div ng-messages="addPartnerForm.name.$dirty && addPartnerForm.name.$error">
										<div ng-message='required'> Name is required </div>
										<div ng-message='minlength'>Please enter a Name at least 8 chars long</div>
										<div ng-message='maxlength'>Name entered cannot be longer than 8 chars</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addPartnerForm.description.$touched && addPartnerForm.description.$invalid, 'has-success': addPartnerForm.description.$touched && addPartnerForm.description.$valid }">
									<label for="description" class="control-label">Description</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-list"></i>
											</span>
											<textarea ng-model='vm.partnerForm.description' class="form-control" name="description" placeholder="Description"></textarea>
										</div>
										<div ng-messages="addPartnerForm.description.$dirty && addPartnerForm.description.$error">
											<div ng-messages-include="error-messages"></div>
										</div>
									</div>
								</div>
							</div>

						</div>
						<hr>
						<div class="row">

							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addPartnerForm.url.$touched && addPartnerForm.url.$invalid, 'has-success': addPartnerForm.url.$touched && addPartnerForm.url.$valid }">
									<label for="url" class="control-label">URL</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-server"></i>
											</span>
											<input type="text" ng-model='vm.partnerForm.url' required class="form-control" name="url" placeholder="https://server">
										</div>
										<div ng-messages="addPartnerForm.url.$dirty && addPartnerForm.url.$error">
											<div ng-message='required'> url is required </div>
											<div ng-message='minlength'>Please enter a url at least 8 chars long</div>
											<div ng-message='maxlength'>Name entered cannot be longer than 8 chars</div>
										</div>
									</div>
								</div>
							</div>

							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group" ng-class="{'has-error': addPartnerForm.discount.$touched && addPartnerForm.discount.$invalid, 'has-success': addPartnerForm.discount.$touched && addPartnerForm.discount.$valid }">
									<label for="discount" class="control-label">Discount</label>
									<div class="inputGroupContainer">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="fa fa-server"></i>
											</span>
											<input type="text" ng-model='vm.partnerForm.discount' required class="form-control" name="discount" placeholder="50">
										</div>
										<div ng-messages="addPartnerForm.discount.$dirty && addPartnerForm.discount.$error">
											<div ng-message='required'> discount is required </div>
											<div ng-message='minlength'>Please enter a discount at least 8 chars long</div>
											<div ng-message='maxlength'>Name entered cannot be longer than 8 chars</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr />
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12 col-lg-6">
								<div class="form-group">
									<button type="submit" ng-disabled="addPartnerForm.$invalid" class="btn btn-primary">Submit</button>
									<button type="reset" class="btn btn-primary">Reset</button>
								</div>
							</div>
						</div>
				</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div style="margin:25px"></div>
	</div>
</div>
</div>