<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>


<div style="margin:10px"></div>

<div style="margin-left:5%; margin-right:5%;">

	<div class="well form-horizontal" style="margin-top:10px;" >
	
	<div style="margin:50px"></div>
	
	<legend>Partners<button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button><br> <div style="margin:10px"></div></legend>
		
		
		<div class="input-group col-md-3 ">
			<input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 800 }" placeholder="Search" name="srch-term" id="srch-term">
			<div class="input-group-btn">
				<button class="btn btn-default btn-disabled" ng-click="vm.search = undefined"><i class="glyphicon glyphicon-search"></i>
			</div>
		</div>
		
		
		<div style="margin:25px"></div>
		
		<a href="#/partners/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>
		
		<div style="margin:25px"></div>
		

		<!-- Loading -->
		<div ng-if="vm.loading && !vm.message" class="well">
			<div class="row">
				<div class="container loader"></div>
			</div>
			<div style="margin:25px"></div>
		</div>

		<div ng-if="vm.message;" class="well">
			<div class="row">
				<h4>{{vm.message}}</h4>
			</div>
			<div style="margin:65px"></div>
		</div>
		
		<!-- {{vm.partners}} -->
		<div ng-if="vm.partners.length > 0">
		
			<h4>Found {{vm.partners.length}} Partners</h4>
			<div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
			<div class="table-responsive">    
				<table class="table table-striped table-condensed table-bordered table-hover">
					<thead>
						<tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf)">
							<th>
								<a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
									ID
										<span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'manufacturer_id'; sortReverse = !sortReverse" style="color:black">
									Name
										<span ng-show="sortType == 'manufacturer_id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'manufacturer_id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'part_number'; sortReverse = !sortReverse" style="color:black">
									Description
										<span ng-show="sortType == 'part_number' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'part_number' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							<th>
								<a href="" ng-click="sortType = 'list_price'; sortReverse = !sortReverse" style="color:black">
									URL
										<span ng-show="sortType == 'list_price' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'list_price' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							<th>
								<a href="" ng-click="sortType = 'weight'; sortReverse = !sortReverse" style="color:black">
									Discount
										<span ng-show="sortType == 'weight' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'weight' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>

							<th>
								<a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
									Created At
										<span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>
							
							
							
							<th>
								<a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
									Updated At
										<span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
										<span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
								</a>
							</th>	
							
							<th>Actions</th>
						</tr>
					</thead>
					<tbody style="font-size: 12px;">

					<!-- Allow you to edit and delete Blocks with new buttons -->
					<!--<tr ng-repeat="partner in vm.partners | orderBy:sortType:sortReverse | filter:vm.search: strict">-->

					<!-- {{ vm.partners}} -->

					<tr ng-repeat="partner in vm.partners | orderBy:sortType:sortReverse | filter:vm.search: strict">
					
						<!--List View-->
						<td>{{ partner.id}}</td>
				
						<td   ng-show="!vm.edit[partner.id]">{{ partner.name}}</td>
						<td   ng-show="!vm.edit[partner.id]">{{ partner.description}}</td>
						<td   ng-show="!vm.edit[partner.id]">{{ partner.url}}</td>
						<td   ng-show="!vm.edit[partner.id]">{{ partner.discount}}</td>
						<td   ng-show="!vm.edit[partner.id]">{{ partner.created_at}}</td>
						<td   ng-show="!vm.edit[partner.id]">{{ partner.updated_at}}</td>
						
						<td   ng-show="!vm.edit[partner.id]">
							<!--<button class="btn btn-primary btn-xs "  ng-click="vm.edit[partner.id] = !vm.edit[partner.id]"> Edit </button>-->
							<a href="#/partners/edit/{{partner.id}}" ><button class="btn btn-primary btn-xs"><i class="glyphicon glyphicon glyphicon-pencil"></i> Edit</button> </a>
							
							<!-- Function moved ot modal...
							<button class="btn btn-danger btn-xs " ng-click="vm.delete(partner)"> Delete </button>-->
							
							<button class="btn btn-danger btn-xs " data-toggle="modal" data-target="#{{partner.id}}-modal"> Delete </button>
						
							<!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
							<div class="modal fade" id="{{partner.id}}-modal" role="dialog">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h4>Are you sure? <h4>
										</div>
										<div class="modal-body">
											<p>You are about to delete partner: {{ partner.name}}</p>
											<table class="table table-striped table-condensed table-bordered table-hover">
												<tr>
													<th>ID</th>
													<th>Name</th>

												</tr>
												<tr>
													<td>{{ partner.id}}</td>
													<td>{{ partner.name}}</td>
												</tr>
											</table>
											<p>All provisioned information will be lost. Are you sure you want to proceed?</p>
										</div>
										<div class="modal-footer">

										<!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
										<a class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete(partner)">Delete</a>
										<a class="btn btn-primary" data-dismiss="modal">Cancel</a>
										</div>
									</div>
								</div>
							</div> <!-- npa of Modal -->
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			</div> <!--npa of Panel
			
			<a href="#/partner/create" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i> Add</a>
			-->

			<div style="margin:100px"></div>
		</div>
	</div>
</div>

	
