<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>

<!-- <div style="margin:10px"></div> -->

<div style="margin-left:5%; margin-right:5%;">

    <div class="well form-horizontal" style="margin-top:5px;">
        <div style="margin:1px"></div>
        <legend>Assets
            <button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()">
                <i class="glyphicon glyphicon-refresh"></i> Refresh</button>
            <button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click=''>
                <i class="glyphicon glyphicon-refresh"></i> Test</button>
            <br>
            <div style="margin:5px"></div>
        </legend>
        <h4>Total Assets: {{ vm.assets.length }} </h4>
        <div class="input-group col-md-3 ">
            <input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 800 }" placeholder="Search" name="srch-term"
                id="srch-term">
            <div class="input-group-btn">
                <button class="btn btn-default btn-disabled" ng-click="vm.search = undefined">
                    <i class="glyphicon glyphicon-search"></i>
            </div>
        </div>
        <div style="margin:25px"></div>
        <button class="btn btn-primary btn-sm" ng-click="vm.addtoggle()">
            <i class="glyphicon glyphicon-plus"></i> Add</button>
        <div style="margin:25px"></div>
        <div ng-show="vm.showaddrow" class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
            <table class="table table-striped table-condensed table-bordered table-hover table-sm">
                <thead>
                    <tr class="info">
                        <th>Serial</th>
                        <th>Part</th>
                        <th>Vendor</th>
                        <th>Warranty_ID</th>
                        <th>Location_ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input type="text" class="form-control form-control-sm" ng-model="newasset.serial">
                        </td>
                        <td>
                            <select class="form-control" required ng-model='newasset.part_id' ng-options="part.id as part.part_number for part in vm.parts"
                                data-width="100%" name="partid">
                            </select>
                        </td>
                        <td>
                            <select class="form-control" required ng-model='newasset.vendor_id' ng-options="partner.id as partner.name for partner in vm.partners"
                                data-width="100%" name="partid">
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" ng-model="newasset.warranty_id">
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" ng-model="newasset.location_id">
                        </td>
                        <td>
                            <button class="btn btn-xs btn-primary" ng-click="vm.submitAsset(newasset);vm.addtoggle()"> Save </button>
                            <button class="btn btn-xs btn-default" ng-click="vm.addtoggle()"> Undo </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Loading -->
        <div ng-if="vm.loading.assets && !vm.message" class="well">
            <div class="row">
                <div class="container loader"></div>
            </div>
            <div style="margin:25px"></div>
        </div>

        <div ng-if="vm.message;" class="well">
            <div class="row">
                <h4>{{vm.message}}</h4>
            </div>
            <div style="margin:65px"></div>
        </div>



        <div class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
            <!-- <div class="table-responsive"> -->
            <table class="table table-striped table-condensed table-bordered table-hover">
                <col width="1">
                <col width="1">
                <col width="1">
                <col width="200">
                <col width="200">
                <col width="1">
                <col width="100">
                <col width="200">
                <col width="200">
                <col width="100">
                <thead>
                    <tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf);">

                        <th></th>
                        <th>
                            <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
                                ID
                                <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'serial'; sortReverse = !sortReverse" style="color:black">
                                Serial
                                <span ng-show="sortType == 'serial' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'serial' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'part_id'; sortReverse = !sortReverse" style="color:black">
                                Part
                                <span ng-show="sortType == 'part_id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'part_id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'vendor_id'; sortReverse = !sortReverse" style="color:black">
                                Vendor
                                <span ng-show="sortType == 'vendor_id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'vendor_id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'warranty_id'; sortReverse = !sortReverse" style="color:black">
                                Warranty_id
                                <span ng-show="sortType == 'warranty_id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'warranty_id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'location'; sortReverse = !sortReverse" style="color:black">
                                Location
                                <span ng-show="sortType == 'location' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'location' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
                                Created At
                                <span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
                                Updated At
                                <span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <div ng-if="vm.model.assets.length > 0">
                    <!-- <tr ng-repeat="asset in vm.model.assets track by $index| orderBy:sortType:sortReverse | filter:vm.search: strict"> -->
                    <tr style="height:30px" !important; ng-repeat="asset in vm.model.assets | orderBy:sortType:sortReverse | filter:vm.search: strict">
                        <td>
                            <a href="#/assets/edit/{{ asset.id }}">
                                <button style="color: white; background-color:#555a5e;" class="btn btn-xs">
                                    <b>View</b>
                                </button>
                            </a>
                        </td>
                        <td>
                            {{ asset.id }}
                        </td>
                        <td ng-show="!vm.edit[asset.id]">
                            <a href="#/asset/{{ asset.id}}" target="_blank">
                                <b>{{ asset.serial }}</b>
                            </a>
                        </td>
                        <td ng-show="!vm.edit[asset.id] && vm.model.parts">{{ asset.part.part_number }}</td>
                        <td ng-show="!vm.edit[asset.id]">{{ asset.partner.name }}</td>
                        <td ng-show="!vm.edit[asset.id]">{{ asset.warranty_id }}</td>
                        <td ng-show="!vm.edit[asset.id] && vm.model.locations">{{ asset.location.name }}</td>
                        <!--                         <td ng-show="!vm.edit[asset.id] && !vm.locations">{{ asset.location_id }}</td> -->
                        <td ng-show="!vm.edit[asset.id]">{{ asset.created_at }}</td>
                        <td ng-show="!vm.edit[asset.id]">{{ asset.updated_at }}</td>
                        <td ng-show="!vm.edit[asset.id]">
                            <button class="btn btn-primary btn-xs " ng-click="vm.edit[asset.id] = !vm.edit[asset.id]">
                                <i class="glyphicon glyphicon glyphicon-pencil"></i> Edit
                            </button>
                            <button class="btn btn-danger btn-xs " data-toggle="modal" data-target="#{{asset.id}}-modal">
                                Delete
                            </button>
                            <!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
                            <div class="modal fade" id="{{asset.id}}-modal" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Are you sure?
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                You are about to delete Asset ID: {{ asset.id }}
                                            </p>
                                            <table class="table table-striped table-condensed table-bordered table-hover">
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Serial</th>
                                                    <th>Part</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ asset.id }}</td>
                                                    <td>{{ asset.serial }}</td>
                                                    <td>{{ asset.part.part_number }}</td>
                                                </tr>
                                            </table>
                                            <p>All provisioned information will be lost. Are you sure you want to proceed?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
                                            <a class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete(asset)">Delete</a>
                                            <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Modal -->
                        </td>
                        <!--Edit View-->
                        <td ng-if="vm.edit[asset.id]">
                            <input type="text" class="form-control form-control-sm" ng-model="asset.serial">
                        </td>
                        <td ng-if="vm.edit[asset.id]">
                            <!-- <input type="text" class="form-control form-control-sm" ng-model="asset.part.part_number"> -->
                            <!--                             <select class="form-control" required ng-model='asset.part_id' ng-options='part.id as part.part_number+" ["+part.id+"]" for part in vm.model.parts | orderBy:"part_number"' -->
                            <select class="form-control form-control-sm" required ng-model='asset.part_id' ng-options='part.id as part.part_number for part in vm.model.parts'
                                data-width="100%" name="partid">
                            </select>
                        </td>
                        <td ng-if="vm.edit[asset.id]">
                            <!-- <input type="text" class="form-control form-control-sm" ng-model="asset.vendor_id"> -->
                            <select style="width:100px" class="form-control form-control-sm" required ng-model='asset.vendor_id' ng-options='vendor.id as vendor.name for vendor in vm.model.partners'
                                data-width="100%" name="vendorid">
                            </select>
                        </td>
                        <td ng-if="vm.edit[asset.id]">
                            <input type="text" class="form-control form-control-sm" ng-model="asset.warranty_id">
                        </td>
                        <!--                         <td ng-show="vm.edit[asset.id]">
                            <input type="text" class="form-control form-control-sm" ng-model="asset.location_id">
                        </td> -->
                        <td ng-if="vm.edit[asset.id]">
                            <!--                             <select class="form-control" required ng-model='asset.location_id' ng-options='location.sys_id as location.name for location in vm.model.locations | orderBy:"name"' -->
                            <select style="width:100px" class="form-control form-control-sm" required ng-model='asset.location_id' ng-options='location.sys_id as location.name for location in vm.model.locations'
                                data-width="100%" name="locationid">
                            </select>
                        </td>
                        <td ng-if="vm.edit[asset.id]">{{ asset.created_at }}</td>
                        <td ng-if="vm.edit[asset.id]">{{ asset.updated_at }}</td>

                        <td ng-if="vm.edit[asset.id]">
                            <button class="btn btn-xs btn-primary" ng-click="vm.update(asset); vm.edit[asset.id] = !vm.edit[asset.id]"> Save </button>
                            <button class="btn btn-xs btn-warning" ng-click="vm.edit[asset.id] = !vm.edit[asset.id]"> Undo </button>
                        </td>
                    </tr>
                </div>
            </table>
            <!-- </div> -->
        </div>
        <!--End of Panel-->


    </div>
</div>