<!-- Include Navbar -->
<ng-include src="'app-content/navbar.html'"></ng-include>

<!-- <div style="margin:10px"></div> -->

<div style="margin-left:5%; margin-right:5%;">

    <div class="well form-horizontal" style="margin-top:5px;">
        <div style="margin:1px"></div>
        <legend>Assets : {{ vm.model.assets.length }}
            <button class="btn btn-default btn-sm pull-right" style="color: white; background-color:#555a5e;" ng-click="vm.refresh()">
                <i class="glyphicon glyphicon-refresh"></i> Refresh
            </button>
            <div class="input-group col-md-3 pull-right">
                <input type="text" class="form-control" ng-model="vm.search" ng-model-options="{ debounce: 800 }"
                    placeholder="Search" name="srch-term" id="srch-term">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-disabled" ng-click="vm.search = undefined">
                        <i class="glyphicon glyphicon-search"></i>
                </div>
            </div>
            <br>
            <div style="margin:5px"></div>
        </legend>
        <div ng-if="vm.loading.assets && !vm.message" class="well">
            <div class="row">
                <div class="container loader"></div>
            </div>
            <div style="margin:25px"></div>
        </div>
        <div ng-if="vm.message;" class="well">
            <div class="row">
                <h4>{{vm.message}}</h4>
            </div>
            <div style="margin:65px"></div>
        </div>

        <div ng-if="!vm.loading.assets" class="panel panel-default" style="box-shadow: 1px 1px 5px grey;">
            <!-- <div class="table-responsive"> -->
            <table class="table table-striped table-condensed table-bordered table-hover">
                <!--                 <col width="1">
                <col width="1">
                <col width="200">
                <col width="200">
                <col width="1">
                <col width="40">
                <col width="180">
                <col width="180">
                <col width="130"> -->
                <thead>
                    <tr style="background-color: #aeb3b7; background-image: linear-gradient(#e4e6e7, #d6d9db 60%, #c9cccf);">
                        <th>
                            <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse" style="color:black">
                                ID
                                <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'serial'; sortReverse = !sortReverse" style="color:black">
                                Serial
                                <span ng-show="sortType == 'serial' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'serial' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'part.part_number'; sortReverse = !sortReverse" style="color:black">
                                Part
                                <span ng-show="sortType == 'part.part_number' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'part.part_number' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'partner.name'; sortReverse = !sortReverse" style="color:black">
                                Vendor
                                <span ng-show="sortType == 'partner.name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'partner.name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'warranty_id'; sortReverse = !sortReverse" style="color:black">
                                Warranty_id
                                <span ng-show="sortType == 'warranty_id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'warranty_id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'location.name'; sortReverse = !sortReverse" style="color:black">
                                Location
                                <span ng-show="sortType == 'location.name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'location.name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'last_online'; sortReverse = !sortReverse" style="color:black">
                                Last Online
                                <span ng-show="sortType == 'last_online' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'last_online' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="" ng-click="sortType = 'created_at'; sortReverse = !sortReverse" style="color:black">
                                Created At
                                <span ng-show="sortType == 'created_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'created_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>

                        <th>
                            <a href="" ng-click="sortType = 'updated_at'; sortReverse = !sortReverse" style="color:black">
                                Updated At
                                <span ng-show="sortType == 'updated_at' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'updated_at' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </th>
                        <th>
                            <button ng-if="!vm.showaddrow" class="btn btn-primary btn-sm" ng-click="vm.addtoggle()">
                                <i class="glyphicon glyphicon-plus"></i> Add
                            </button>
                            <button ng-if="vm.showaddrow" class="btn btn-primary btn-sm" ng-click="vm.addtoggle()">
                                <i class="glyphicon glyphicon-minus"></i> Add
                            </button>
                        </th>
                    </tr>
                </thead>
                <div ng-if="vm.model.assets.length > 0">
                    <tbody>
                        <tr class="bg-danger" style="height:30px" ng-if="vm.showaddrow">
                            <td>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" ng-model="vm.newasset.serial">
                            </td>
                            <td>
                                <select class="form-control" required ng-model='vm.newasset.part_id' ng-options="part.id as part.part_number for part in vm.model.parts"
                                    data-width="100%" name="partid">
                                </select>
                            </td>
                            <td>
                                <select class="form-control" required ng-model='vm.newasset.vendor_id' ng-options="partner.id as partner.name for partner in vm.model.partners"
                                    data-width="100%" name="partid">
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control form-control-sm" ng-model="vm.newasset.warranty_id">
                            </td>
                            <td>
                                <select style="width:140px" class="form-control" required ng-model='vm.newasset.location_id'
                                    ng-options="location.sys_id as location.name for location in vm.model.locations"
                                    data-width="100%" name="partid">
                                </select>
                            </td>

                            <td></td>
                            <td></td>
                            <td>
                                <button class="btn btn-xs btn-primary" ng-click="vm.submitAsset(vm.newasset);"> Add
                                </button>
                                <button class="btn btn-xs btn-default" ng-click="vm.clearAdd()"> Clear </button>
                            </td>
                        </tr>
                        <!-- <tr ng-repeat="asset in vm.model.assets track by $index| orderBy:sortType:sortReverse | filter:vm.search: strict"> -->
                        <tr style="height:30px" !important; ng-repeat="asset in vm.model.assets | orderBy:sortType:sortReverse | filter:vm.search: strict">
                            <td>
                                {{ asset.id }}
                            </td>
                            <td>
                                <div ng-show="!vm.edit[asset.id]">
                                    {{ asset.serial }}
                                </div>
                                <div ng-if="vm.edit[asset.id]">
                                    <input type="text" class="form-control form-control-sm" ng-model="asset.serial">
                                </div>
                            </td>
                            <td>
                                <div ng-show="!vm.edit[asset.id] && vm.model.parts">
                                    {{ asset.part.part_number }}
                                </div>
                                <div ng-if="vm.edit[asset.id]">
                                    <select class="form-control form-control-sm" required ng-model='asset.part_id'
                                        ng-options='part.id as part.part_number for part in vm.model.parts' data-width="100%"
                                        name="partid">
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div ng-show="!vm.edit[asset.id]">
                                    {{ asset.partner.name }}
                                </div>
                                <div ng-if="vm.edit[asset.id]">
                                    <select style="width:180px" class="form-control form-control-sm" required ng-model='asset.vendor_id'
                                        ng-options='vendor.id as vendor.name for vendor in vm.model.partners'
                                        data-width="100%" name="vendorid">
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div ng-show="!vm.edit[asset.id]">
                                    {{ asset.warranty_id }}
                                </div>
                                <div ng-if="vm.edit[asset.id]">
                                    <input type="text" class="form-control form-control-sm" ng-model="asset.warranty_id">
                                </div>
                            </td>
                            <td>
                                <div ng-show="!vm.edit[asset.id] && vm.model.locations">
                                    {{ asset.location.name }}
                                </div>
                                <div ng-if="vm.edit[asset.id]">
                                    <select style="width:140px" class="form-control form-control-sm" required ng-model='asset.location_id'
                                        ng-options='location.sys_id as location.name for location in vm.model.locations'
                                        data-width="100%" name="locationid">
                                    </select>
                                </div>
                            </td>
                            <td>{{ asset.last_online }}</td>
                            <td>{{ asset.created_at }}</td>
                            <td>{{ asset.updated_at }}</td>
                            <td>
                                <div ng-show="!vm.edit[asset.id]">
                                    <button class="btn btn-primary btn-xs " ng-click="vm.edit[asset.id] = !vm.edit[asset.id]">
                                        <i class="glyphicon glyphicon glyphicon-pencil"></i> Edit
                                    </button>
                                    <button class="btn btn-danger btn-xs " data-toggle="modal" data-target="#{{asset.id}}-modal">
                                        Delete
                                    </button>
                                    <!-- Are you sure Modal - Hidden Unless Delete button is Pressed -->
                                    <div class="modal fade" id="{{asset.id}}-modal" role="dialog">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4>Are you sure?
                                                </div>
                                                <div class="modal-body">
                                                    <p>
                                                        You are about to delete Asset ID: {{ asset.id }}
                                                    </p>
                                                    <table class="table table-striped table-condensed table-bordered table-hover">
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Serial</th>
                                                            <th>Part</th>
                                                        </tr>
                                                        <tr>
                                                            <td>{{ asset.id }}</td>
                                                            <td>{{ asset.serial }}</td>
                                                            <td>{{ asset.part.part_number }}</td>
                                                        </tr>
                                                    </table>
                                                    <p>All provisioned information will be lost. Are you sure you want
                                                        to
                                                        proceed?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <!--  dismiss modal not working with ng-click... Added jQuery Hack in Controller delete function.-->
                                                    <a class="btn btn-danger" data-dismiss="modal" ng-click="vm.delete(asset)">Delete</a>
                                                    <a class="btn btn-primary" data-dismiss="modal">Cancel</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Modal -->
                                </div>
                                <div ng-if="vm.edit[asset.id]">
                                    <button class="btn btn-xs btn-primary" ng-click="vm.update(asset); vm.edit[asset.id] = !vm.edit[asset.id]">
                                        Save </button>
                                    <button class="btn btn-xs btn-warning" ng-click="vm.edit[asset.id] = !vm.edit[asset.id]">
                                        Undo </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    </div>
</div>